@charset "UTF-8";

/******************************
reset
******************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,input{ 
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
ol,ul{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}
img,a{
	vertical-align:top;
	display:inline-block;
}

/******************************
共通
******************************/
body{
	font-size:100%;
	line-height:1.75;
	font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif;
	word-break: break-all;
}
html {
	font-size:62.5%;
	color: #444;
}
a,input{
	outline:none;
}
a,
a:link,
a:visited {
	text-decoration:none;
  color: #42c1eb;
}
a:hover,
a:active  {
	text-decoration:underline;
}
.sp {
  display: none;
}
label {
  cursor: pointer;
}
table {
  font-size: 14px;
  font-size: 1.4rem;
}
/******************************
wrap
******************************/
#wrap{
}

/******************************
ヘッダー
******************************/
/*トップページ*/
#home header {
	position: relative;
	height: 74px;
	background: url(/common/img/header/bg_header.png) repeat-x;
}
header .logo {
	padding: 20px 0 0 20px;
}
#home header .headTxt {
  display: none;
}
header ul {
	position: absolute;
	right: 20px;
	top: 20px;
}
header ul li {
  float: right;
	font-size: 14px;
	font-size: 1.4rem;
	margin-left: 20px;
}
#home header ul li a {
	color: #fff !important;
	text-decoration: none;
}
#home header ul li a:hover {
	text-decoration: underline;
}
header ul li.headerBtn a {
  display: inline-block;
  background-color: #F38B25;
  box-shadow: 0 2px 0 0 #c76c13;
  color: #fff !important;
  padding: 2px 20px;
  border-radius: 2px;
  white-space: nowrap;
  margin-top: -3px;
}
header ul li.headerBtn a:hover {
  text-decoration: none !important;
  background-color: #e37d1a;
  transition: all .2s ease-in-out;
}

/*セレクトボックス*/

header ul li.headerCustom {
  overflow: hidden;
  display: block;
  *display: inline;
  *zoom: 1;
  position: relative;
  border-radius: 2px;
  background-color: #42bfe8;
  box-shadow: 0 2px 0 0 #178db3;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: -3px;
  line-height: 1;
  text-align: center;
  width: 100px;
}
header ul li.headerCustom option {
  background-color: #42bfe8;
}
header ul li.headerCustom:hover {
  text-decoration: none;
  background-color: #2ba5cd;
  transition: all .2s ease-in-out;
}
header ul li.headerCustom select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
  cursor: pointer;
}
header ul li.headerCustom > select {
  padding: 7px 20px 7px 20px;
  width: 130px;
}
header ul li.headerCustom:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1.8em;
  display: block;
  content: "";
  pointer-events: none;
}
header ul li.circleImg {
  position: relative;
  padding-left:40px;
}
header ul li.circleImg span.img {
  position: absolute;
  left: 0;
  top:-5px;
  width: 30px;
  height: 30px;
  background-size: cover !important;
  background-position: 50% !important;
  border-radius: 17px;
  border:#42bfe8 solid 2px;
  display: block;
}
header ul li.circleImg span.noticeIcon {
  position: absolute;
  top:13px;
  left: 22px;
  width: 16px;
  line-height: 1;
  padding:3px 0 3px;
  display: block;
  text-align: center;
  background: #cb112b;
  color: #fff;
  font-size: 10px;
  font-size: 1.0rem;
  border-radius: 9px;
  border:#fff solid 1px;
}

/*中面*/
#inner header {
  position: relative;
  height: 62px;
  background: #fff;
  border-bottom: #999 solid 1px;
}
#inner header .headTxt {
  display: inline-block;
  margin:3px 0 0 20px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #999;
}
#inner header ul li a {
  color: #666;
  text-decoration: none;
}
#inner header ul li a:hover {
  text-decoration: underline;
}

/******************************
メイン
******************************/
#main {
	margin-top: -74px;
	height: 600px;
	overflow: hidden;
	background-size: cover;
  background-position: 50% 0;
}
#main .mainTit {
	text-align: center;
	padding-top: 200px;
}
#main .mainTxt {
	text-align: center;
	margin-top: 5px;
	color: #fff;
	font-size: 36px;
	font-size: 3.6rem;
}
#main .mainBtn {
	text-align: center;
	margin-top: 60px;
}
#main .mainBtn a {
  display: inline-block;
  background-color: #F38B25;
  box-shadow: 0 2px 0 0 #c76c13;
  color: #fff;
  padding: 10px 80px;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 2px;
  white-space: nowrap;
  letter-spacing: 1px;
  margin-left: 1px;
}
#main .mainBtn a:hover {
	text-decoration: none;
  background-color: #e37d1a;
  transition: all .2s ease-in-out;
}
.contentsBox {
	padding:30px 0 50px;
}
.contentsBox.gray {
	background: #eee;
}
.inBox {
	width: 980px;
	margin: 0 auto;
}
.titBox {
  text-align: center;
	margin: 0 0 20px;
}
.contentsBox .tit {
	font-size: 30px;
	font-size: 3.0rem;
	color: #666;
	text-align: center;
}
.titBox .tit span {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
}
.contentsBox .titLink {
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.2;
}
.contentsBox .titLink a {
	color: #42bfe8;
}

/******************************
リストタイプ
******************************/
/*2列リスト*/
.twoList {
	width: 960px;
	margin: 0 auto -20px;
	overflow: hidden;
}
.twoList li {
	float: left;
	margin: 0 20px 20px 0;
}
.twoList li:nth-child(even) {
	margin: 0 0px 20px 0;
}
.twoList li a {
  background-size: cover;
  display: table;
}
.twoList li a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.twoList li span {
	display: table-cell;
	width: 470px;
	height: 294px;
	vertical-align: middle;
	text-align: center;
	font-size: 29px;
	font-size: 2.9rem;
	color: #fff;
	line-height: 1.5;
	text-shadow: 0 0 10px #000;  
}
/*3列リスト*/
.threeList {
  width: 960px;
  margin: 0 auto -20px;
  overflow: hidden;
}
.threeList li {
  float: left;
  margin: 0 20px 20px 0;
}
.threeList li:nth-child(3) ,
.threeList li:nth-child(6) {
  margin: 0 0px 20px 0;
}
.threeList li a {
  background-size: cover;
}
.threeList li a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.threeList li span {
  display: table-cell;
  width: 306px;
  height: 306px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.5;
  text-shadow: 0 0 10px #000;  
}
/*3列サークルリスト*/
.threeCircleList {
  width: 960px;
  margin: 0 auto -30px;
  overflow: hidden;
}
.threeCircleList li {
  float: left;
  margin: 0 0 80px 0;
  width: 320px;
  text-align: center;
  position: relative;
}
.threeCircleList li a {
  background-size: cover;
  border-radius: 140px;
  height: 280px;
  width: 280px;
  background-position: 50%;
}
.threeCircleList li a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.threeCircleList li a span.txt {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
.threeCircleList li a span.txt span {
  color: #42bfe8;
  display: block;
}
/*5列サークルリスト*/
.fiveCircleList {
	width: 100%;
	overflow: hidden;
}
.fiveCircleList li {
	float: left;
	width: 186px;
	margin: 0 5px;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
}
.fiveCircleList li a {
	display: block;
	text-align: center;
  color: #666;
}
.fiveCircleList li span {
	margin-top: 10px;
	display: block;
	color: #42bfe8;
}
.fiveCircleList li a:hover {
	text-decoration: none;
	opacity: 0.8;
}
.fiveCircleList li a:hover span {
	text-decoration: underline;
}

/*セレクトボックス*/
.custom {
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 2px;
  background-color: #42bfe8;
  box-shadow: 0 2px 0 0 #178db3;
  color: #fff;
  padding:0 10px;
  font-size: 14px;
  font-size: 1.4rem;
  width: 220px;
  margin: 20px auto 0;
}
.custom:hover {
  text-decoration: none;
  background-color: #2ba5cd;
  transition: all .2s ease-in-out;
}
.custom select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
  cursor: pointer;
}
.custom > select {
  width: 130%;
  padding: 0.6em 2.4em 0.6em 0.6em;
}
.custom:after {
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 15px;
  display: block;
  content: "▼";
  font-size: 12px;
  pointer-events: none;
}
/*ボタン*/

.blueBtn {
  text-align: center;
}
.blueBtn a ,
.blueBtn input,
.blueBtn button {
  display: inline-block;
  background-color: #42bfe8;
  box-shadow: 0 2px 0 0 #178db3;
  border: none;
  color: #fff !important;
  padding: 8px 0;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 2px;
  white-space: nowrap;
  letter-spacing: 1px;
  width: 200px;
  margin-bottom: 2px;
  cursor: pointer;
}
.blueBtn a:hover ,
.blueBtn input:hover ,
.blueBtn button:hover {
  text-decoration: none;
  background-color: #2ba5cd;
  transition: all .2s ease-in-out;
}
.blueBtn.small a ,
.blueBtn.small input {
  padding: 4px 0 4px 1px;
  width: 150px;
}

.orangeBtn {
  text-align: center;
}
.orangeBtn a ,
.orangeBtn input ,
.orangeBtn button {
  display: inline-block;
  background-color: #F38B25;
  box-shadow: 0 2px 0 0 #c76c13;
  border: none;
  color: #fff !important;
  padding: 8px 0;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 2px;
  white-space: nowrap;
  letter-spacing: 1px;
  width: 200px;
  margin-bottom: 2px;
  cursor: pointer;
}
.orangeBtn a:hover ,
.orangeBtn input:hover,
.orangeBtn button:hover {
  text-decoration: none;
  background-color: #e37d1a;
  transition: all .2s ease-in-out;
}
.orangeBtn.small a ,
.orangeBtn.small input ,
.orangeBtn.small button {
  padding: 4px 0 4px 1px;
  width: 150px;
}
.grayBtn {
  text-align: center;
}
.grayBtn a {
  display: inline-block;
  background-color: #aaa;
  box-shadow: 0 2px 0 0 #666;
  color: #fff !important;
  padding: 4px 0;
  width: 100px;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 2px;
  white-space: nowrap;
  letter-spacing: 1px;
}
.grayBtn a:hover  {
  text-decoration: none;
  background-color: #888;
  transition: all .2s ease-in-out;
}

/******************************
セクション
******************************/

/******************************
フッター
******************************/
footer {
	background: #222;
	color: #fff;
}
footer a {
  color: #fff !important;
}
.footerIn {
	width:960px;
	margin: 0 auto;
  padding-top: 40px;
  overflow: hidden;
}
footer ul {
  width: 180px;
  float: left;
}
footer ul li {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
footer ul li a {
  background: url(/common/img/share/arrow_right_circle.png) left no-repeat;
  background-position: 0 8px;
  background-size: 12px 50px;
  padding-left: 16px;
}
footer ul li a:hover {
  background-position: 0 -30px;
}
footer dl {
  float: left;
}
footer dt {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
footer dt a {
  background: url(/common/img/share/arrow_right_circle.png) left no-repeat;
  background-position: 0 8px;
  background-size: 12px 50px;
  padding-left: 16px;
}
footer dt a:hover {
  background-position: 0 -30px;
}
footer dd {
  font-size: 14px;
  font-size: 1.4rem;
}
footer dl.footerSite {
  width: 340px;
}
footer dl.footerSite dd {
  float: left;
  width: 160px;
}
footer dl.footerPoint {
  width: 420px;
}
footer dl.footerPoint dd {
  float: left;
  width: 140px;
}
footer a:hover {
  color: #42bfe8 !important;
  text-decoration: none;
}
.copy {
  clear: both;
	text-align: center;
	padding: 40px 0 10px;
}

/*placeholder*/
:placeholder-shown {
    color: #aaa; 
}
::-webkit-input-placeholder {
    color: #aaa; 
}
/* Firefox 18- */
:-moz-placeholder {
    color: #aaa; opacity: 1;
}
/* Firefox 19+ */
::-moz-placeholder {
    color: #aaa; opacity: 1;
}
/* IE 10+ */
:-ms-input-placeholder {
    color: #aaa;
}
/******************************
パーツ
******************************/
.pt30 { padding-top: 30px !important;}
.pb20 { padding-bottom: 20px !important;}
.mt10 { margin-top: 10px !important;}
.mt20 { margin-top: 20px !important;}
.mt30 { margin-top: 30px !important;}
.mb0 { margin-bottom: 0px !important;}
.mb10 { margin-bottom: 10px !important;}
.mb20 { margin-bottom: 20px !important;}
.mb30 { margin-bottom: 30px !important;}
.mb50 { margin-bottom: 50px !important;}
.mt40 { margin-top: 40px !important;}
.mr20 { margin-right: 20px !important;}
.ml20 { margin-left: 20px !important;}
.tBlue { color:#42bfe8;}
.tDeepBlue { color:#178db3;}
.cBlue { color:#6badd0;}
.cLightBlue { color: #f5fbfe;}
.cRed { color: #cb112b;}
.cPink { color: #f373a9;}
.bgLightGray { background: #ededed !important;}
.bgPink { background: #fbeaea !important;}
.tCenter { text-align: center !important;}
.tRight { text-align: right !important;}
a.txtLink { color:#42bfe8; text-decoration: underline !important;}
a:hover.txtLink { text-decoration: none !important;}
.vaTop { vertical-align: top !important;}
.bold { font-weight: bold;}
.w100pBox { width: 100%; overflow: hidden;}
.w100p { width: 100% !important}
.w320 { width: 320px;}
.fLeft { float: left;}
.importantTxt { text-align: center; font-size: 16px; font-size: 1.6rem; line-height: 1.5;}
.importantTxt span.line { background: linear-gradient(transparent 50%, #fba1ae 60%);}
.importantTxt span.line span { font-size: 20px; font-size:2.0rem;color: #cb112b; margin: 0 5px;}
.fs14 {font-size: 14px; font-size: 1.4rem;}
.fs24 {font-size: 24px; font-size: 2.4rem;}
.fs14 a { vertical-align: baseline;}
.borderLink { border:#42c1eb solid 1px; padding:5px 10px; background: #fff;}
.borderLink:hover { background: #42c1eb; color: #fff; text-decoration: none; }
ul.indent li { text-indent: -1em; padding-left: 1em;}