@charset "UTF-8";

/******************************
中面
******************************/
#inner article {
  overflow: hidden;
  font-size: 14px;
  font-size: 1.4rem;
}
#pankuzuTop {
  padding: 5px 0;
  margin-bottom: 30px;
  background: #333;
}
#pankuzuTop ul {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
#pankuzuTop li {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
}
#pankuzuTop li a {
  margin-right: 10px;
  color: #999;
}
#pankuzu {
  border-top: #ccc solid 1px;
  padding: 10px 0;
}
#pankuzu ul {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
#pankuzu li {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  font-size: 1.4rem;
}
#pankuzu li a {
  margin-right: 10px;
}
.innerBox {
  padding:20px 0;
  background: #f5f5f5;
}
.innerBox .tit {
  font-size: 30px;
  font-size: 3.0rem;
  color: #666;
  text-align: center;
}

.box960 {
  width: 960px;
  margin:20px auto 0;
  overflow: hidden;
}
.box820 {
  width: 820px;
  margin:0 auto;
  overflow: hidden;
}

/******************************
ダイビングポイント
******************************/
#mainContents {
  float: left;
  width: 620px;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
#sideContents {
  float: right;
  width: 300px;
}
#diverContents {
  float: right;
  width: 580px;
  background: #fff;
  padding: 15px 20px 20px;
  font-size: 14px;
  font-size: 1.4rem;
}
#diverContents .tit {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
#menuContents {
  float: left;
  width: 300px;
}

/*メイン*/
.divingpointTit {
  text-align: center;
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #555;
}
.divingpointTit span {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  border-top:#555 solid 1px;
  padding:4px;
  margin-top: 3px; 
  display: inline-block;
  color: #999;
  font-family: arial;
}
.divingpointTxt {
  margin-bottom: 30px;
}
.iconUl {
  width: 100%;
  overflow: hidden;
}
.iconUl li {
  float: left;
  text-align: center;
  width: 33%;
}
.iconUl li span {
  margin-top: 5px;
  display: block;
}

/*ダイビング料金*/
#feeArea {
  background: #f5f5f5;
  border-top: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
  padding: 30px 0;
  font-size: 14px;
  font-size: 1.4rem;
}
#feeArea .tit {
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  background: url(../img/divingpoint/ico_fee.png) no-repeat 50% 0;
  padding-top: 45px;
  margin-bottom: 20px;
}
/*ダイビングポイント情報*/
#infoArea {
  padding: 30px 0;
  font-size: 14px;
  font-size: 1.4rem;
}
#infoArea .tit {
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  background: url(../img/divingpoint/ico_info.png) no-repeat 50% 0;
  padding-top: 45px;
  margin-bottom: 20px;
}
#infoArea .txt {
  margin-bottom: 20px;
}
/*アクセス*/
#accessArea {
  background: #f5f5f5;
  border-top: #ccc solid 1px;
  padding: 30px 0;
  font-size: 14px;
  font-size: 1.4rem;
}
#accessArea .tit {
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  background: url(../img/divingpoint/ico_access.png) no-repeat 50% 0;
  padding-top: 45px;
  margin-bottom: 20px;
}

.divingPointTable {
  width: 100%;
  margin-bottom: 20px;
}
.divingPointTable th ,
.divingPointTable td {
  border-bottom: #ccc dotted 1px;
  padding: 10px 0;
}
.divingPointTable th {
  width: 200px;
  padding-right: 10px;
  font-weight: bold;
  vertical-align: top;
}
.divingPointTable td img {
  width: 100%;
  height: auto;
}
.divingPointTable tr:last-child th ,
.divingPointTable tr:last-child td {
  border-bottom: none;
}
.divingPointTable th span {
  font-weight: normal;
  display: block;
}
.feeTable {
  width: 100%;
  border-top: #999 solid 1px;
}
.feeTable th {
  width: auto !important;
}
.feeTable td {
  text-align: right;
}
.feeTable th ,
.feeTable td ,
.feeTable tr:last-child th ,
.feeTable tr:last-child td {
  border-bottom: #999 solid 1px;
  padding: 8px 10px;
  font-weight: normal;
}
.feeTable tr:nth-child(odd) th ,
.feeTable tr:nth-child(odd) td {
  border-top: #999 solid 1px;
  border-bottom: #999 solid 1px;
  background: #fff;
}
.feeTable span {
  display: inline-block !important;
}
.entryDl {
  width: 100%;
  overflow: hidden;
}
.entryDl dt {
  float: left;
  clear: both;
  width: 12em;
  font-weight: bold;
}
.entryDl dd {
  float: left;
  line-height: 1.5;
  margin-bottom: 10px;
}
.entryDl dd span {
  width: 4em;
  display: inline-block;
}
.pointTxt {
  display: inline;
  color: #f373a9;
  margin-left: 15px;
}
.pointIcon {
  display: inline-block ;
  text-align: center;
  background: #f373a9;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 2.3;
  border-radius: 10px;
  margin: 0 3px 0 0;
}
/*ダイビングセンター*/
#divingCenterArea {
  background: #f5f5f5;
  border:#ccc solid 1px;
  padding: 10px;
}
#divingCenterArea .img {
  text-align: center;
}
#divingCenterArea .img img {
  width: 100%;
}
#divingCenterArea .tit {
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 5px 0;
}
#divingCenterArea dl {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-size: 1.4rem;
}
#divingCenterArea dt {
  width: 5em;
  float: left;
  clear: both;
}
#divingCenterArea dd {
  margin-left: 5em;
}
/*ボタン*/
.reserveBtn {
  text-align: center;
}
.reserveBtn a {
  margin: 20px 0 30px; 
  display: inline-block;
  background-color: #F38B25;
  box-shadow: 0 2px 0 0 #c76c13;
  color: #fff;
  padding: 8px 0;
  font-size: 14px;
  font-size: 1.4rem;
  border-radius: 2px;
  white-space: nowrap;
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 2px;
  cursor: pointer;
}
.reserveBtn a:hover {
  text-decoration: none;
  background-color: #e37d1a;
  transition: all .2s ease-in-out;
}
/******************************
ダイビングポイントSNS
******************************/
#divingPointSNS {
  width:100%;
  margin-bottom: 30px;
  overflow: hidden;
}
#divingPointSNS ul {
  text-align:center;
}
#divingPointSNS ul li {
  display: inline-block;
  margin: 0 10px;
}
#divingPointSNS ul li a {
  display:block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  text-decoration:none;
  border-radius: 22px;
}
#divingPointSNS ul li.fsFacebook a {
  background-color:#607abc;
  background-image:url(../img/share/fbtn_facebook.png);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:30px 30px;
  border:#607abc solid 2px;
}
#divingPointSNS ul li.fsFacebook a:hover {
  background-color:#fff;
  color:#607abc;
  background-image:url(../img/share/fbtn_facebook_o.png);
}
#divingPointSNS ul li.fsTwitter a {
  background-color:#93cbf0;
  background-image:url(../img/share/fbtn_twitter.png);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:30px 30px;
  border:#93cbf0 solid 2px;
}
#divingPointSNS ul li.fsTwitter a:hover {
  background-color:#fff;
  color:#93cbf0;
  background-image:url(../img/share/fbtn_twitter_o.png);
} 
#divingPointSNS ul li.fsLine {
  display:none;
}
/*Google Map*/
.map{
  width:100%;
  height:487px;
  border-top:#ccc solid 1px;
  border-bottom:#ccc solid 1px;
}
#mapCanvas{
  width:100%;
  height:485px;
  border-top:#fff solid 1px;
  border-bottom:#fff solid 1px;
}
.map.big {
  height:600px;
}
.map.big #mapCanvas{
  width:100%;
  height:598px;
  border-top:#fff solid 1px;
  border-bottom:#fff solid 1px;
}
/******************************
予約フォーム
******************************/
#reservationBox {
  width: 920px;
  margin: 20px auto;
  padding: 30px 20px 25px;
  background: rgba(255,255,255,0.8);
  border:#ccc solid 1px;
  font-size: 14px;
  font-size: 1.4rem;
}
#reservationBox dl {
  width: 100%;
  overflow: hidden;
}
#reservationBox dl dt {
  margin-bottom: 5px;
  font-weight: bold;
}
#reservationBox dl dd {
  margin-bottom: 30px;
}
#reservationBox .pointName {
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
#reservationBox input.txt {
  border:#ccc solid 1px;
  display: block;
  background: #fff;
  width: 90%;
  padding: 10px;
}
#reservationBox textarea.txt {
  border:#ccc solid 1px;
  display: block;
  background: #fff;
  width: 90%;
  padding: 10px;
  height: 10em;
}
#reservationBox .select label {
  border:#ccc solid 1px;
  display: inline-block;
  background: #fff;
  width: 194px;
  padding: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
}
#reservationBox .select span.pointYNicon {
  display: inline-block;
  text-align: center;
  background: #f373a9;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 2.3;
  border-radius: 10px;
  margin: 0 5px 0 -20px;
}
#reservationBox .select p span.pointYNicon {
  display: inline-block;
  text-align: center;
  background: #f373a9;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 2.3;
  border-radius: 10px;
  margin: 0 5px 0 0;
}
#reservationBox dd label:last-child {
  margin-right: 0;
}
#reservationBox label:hover,
#reservationBox label.checked {
  border:#6badd0 solid 1px;
  background: #6badd0;
  color: #fff;
}
#reservationBox label.pointYN:hover,
#reservationBox label.pointYN.checked {
  border:#f373a9 solid 1px;
  background: #f373a9;
  color: #fff;
}
#reservationBox label input {
  margin-right: 5px;
  display: none;
}
#reservationBox label.full ,
#reservationBox label.full:hover {
  background: none;
  border:#ccc solid 1px;
  color: #ccc;
}
#reservationBox .insuranceCheck label ,
#reservationBox .insuranceCheck label:last-child ,
#reservationBox .insuranceCheck label:hover {
  border:none;
  background: #fef5fb;
  width: 300px;
  margin: 0 auto;
  display: block;
  color: #cb112b;
}
#reservationBox .insuranceCheck label input {
  display: inline;
  width: auto;
}
#reservationBox .buddySelectBox {
  border:#ccc solid 1px;
  width: 100%;
  overflow: hidden;
  background: #eee;
  margin-bottom: 40px;
}
#reservationBox .buddySelectBox .tit {
  margin-bottom: 10px;
  font-weight: bold;
}
#reservationBox .buddySelectBox .buddyUser {
  float: left;
  padding: 0 20px;
  margin: 20px 0;
  width: 45%;
}
#reservationBox .buddySelectBox .buddyUser input {
  margin-bottom: 20px;
  width: 390px;
}
#reservationBox .buddySelectBox .buddyUser ul {
  margin: -20px 0 20px;
  width: 410px;
  border: #ccc solid 1px;
  border-top: none;
  background: #fff;
}
#reservationBox .buddySelectBox .buddyUser ul li {
  border-bottom: #ccc dotted 1px;
}
#reservationBox .buddySelectBox .buddyUser ul li:last-child {
  border-bottom: none;
}
#reservationBox .buddySelectBox .buddyUser ul li a {
  padding: 10px;
  display: block;
}
#reservationBox .buddySelectBox .buddyUser ul li a:hover {
  background: #f5fbfe;
  text-decoration: none;
}
#reservationBox .buddySelectBox .buddyUser ul li span {
  margin: 10px 0 0 10px;
  display: inline-block;
}
#reservationBox .buddySelectBox .buddyNoUser {
  float: left;
  padding: 0 20px;
  margin: 20px 0;
  width: 45%;
  border-left:#ccc solid 1px;
}
#reservationBox .buddySelectBox .buddyNoUser input {
  margin-bottom: 20px;
  width: 390px;
}
#reservationBox .buddyEntry {
  width: 100%;
  overflow: hidden;
}
#reservationBox .buddyEntry dd ,
#reservationBox .buddyEntry li {
  border:#6badd0 solid 1px;
  background: #f5fbfe;
  color: #178db3;
  padding: 10px 0;
  margin: 0 20px 20px 0;
  width: 160px;
  text-align: center;
  float: left;
  position: relative;
}
#reservationBox .buddyEntry dd a {
  position: absolute;
  top:-4px;
  right: -4px;
  border:#6badd0 solid 1px;
  background: #f5fbfe;
  color: #178db3;
  display: block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 1.3;
  border-radius: 10px;
}
#reservationBox .buddyEntry dd a:hover {
  text-decoration: none;
  background: #178db3;
  color: #fff;
}
#reservationBox .buddyEntry dd img ,
#reservationBox .buddyEntry li img {
  display: block;
  margin: 0 auto 10px;
}
/******************************
ダイビングポイントのCSS
******************************/
/*中面2列リスト*/
.twoTxtList {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding:10px 0;
}
.twoTxtList li {
  float: left;
  margin: 0 20px 30px 0;
  background: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
}
.twoTxtList li:nth-child(even) {
  margin: 0 0 30px 0;
}
.twoTxtList li a {
  background-size: cover;
  color: #666;
  padding-bottom: 12px;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.1); 

}
.twoTxtList li a:hover {
  opacity: 0.8;
  text-decoration: none;
  box-shadow: 0px 1px 8px rgba(0,0,0,0); 
}
.twoTxtList li img {
  width: 468px;
  height: auto;
  display: block;
  margin-bottom: 12px;
}
.twoTxtList li span ,
.twoTxtList li a {
  line-height: 1.2;
}
.twoTxtList li span {
  padding-left: 10px;
}
.twoTxtList li span.subTxt {
  display: inline;
  font-size: 12px;
  font-size: 1.2rem;
  color:#999;
  padding-top: 0;
}
.twoTxtList li span.priceTxt {
  display: inline;
  font-size: 12px;
  font-size: 1.2rem;
  color:#999;
  padding-top: 0;
}
.twoTxtList li span.price {
  color: #42bfe8;
  font-size: 12px;
  font-size: 1.2rem;
  padding-top: 0;
}
.divingpointIcon {
  width: 100%;
  overflow: hidden;
  position: absolute;
  right: 10px;
  bottom:36px;
}
.divingpointIcon li {
  float: right;
  padding: 0;
  border:#fff solid 2px;
  border-radius: 27px;
  background: none;
  margin:0 0 0 10px;
}
.divingpointIcon li:nth-child(even) {
  margin:0 0 0 10px;
}
.divingpointIcon li img {
  width: 50px;
  height: auto;
  margin: 0;
}

/******************************
リスト
******************************/
.l200Dl {
  width: 100%;
  overflow: hidden;
}
.l200Dl dt {
  display: table-cell;
  width: 300px;
  text-align: center;
}
.l200Dl dd {
  display: table-cell;
  vertical-align: middle;
}
/******************************
テーブル
******************************/
.table01 {
  border-top: #ccc solid 1px;
  border-left: #ccc solid 1px;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
}
.table01 th,
.table01 td {
  border-right: #ccc solid 1px;
  border-bottom:  #ccc solid 1px;
  padding: 8px 0 8px 10px;
}
.table01 th {
  background: #fafafa;
  width: 180px;
}
.table02 {
  border-top: #ccc solid 1px;
  border-left: #ccc solid 1px;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
}
.table02 th,
.table02 td {
  border-right: #ccc solid 1px;
  border-bottom:  #ccc solid 1px;
  padding: 8px 0 8px;
  text-align: center;
}
.table02 th {
  width: 180px;
  background: #999;
  color: #fff;
}
.table02 td {
  background: #fff;
}
/*スタイル*/
.styleTable {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.styleTable th {
  border-bottom: #ccc dotted 1px;
  padding: 8px 0;
}
.styleTable td {
  text-align: right;
  border-bottom: #ccc dotted 1px;
  padding: 8px 0;
}
/*カレンダー*/
.calenderTable {
  border-left: #ccc solid 1px;
  border-top: #ccc solid 1px;
  width: 100%;
  font-size: 12px;
  font-size: 1.2rem;
}
.calenderTable th {
  border-right: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
  text-align: center;
  width: 14.2%;
  padding: 4px 0;
}
.calenderTable td {
  border-right: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
  text-align: center;
  width: 14.2%;
  padding: 0;
}
.calenderTable .month {
  font-size: 14px;
  font-size: 1.4rem;
  border-right: none !important;
}
.calenderTable td {
  background: none;
}
.calenderTable td label {
  background:#fff;
  padding: 8px 0;
  display: block;
  border: #fff solid 1px;
  width: auto;
}
.calenderTable td span {
  padding: 9px 0;
  display: block;
}
.calenderTable td label:hover ,
.calenderTable td.checked label {
  background: #f5fbfe;
  display: block;
  text-decoration: none;
  border: #6badd0 solid 1px;
  color: #178db3;
}
/*タンク*/
.tankTable {
  width: 100%;
}
.tankTable th {
  width: 60px;
  vertical-align: top;
  padding-top: 12px;
}
.tankTable td {
  padding-bottom: 10px;
}
/*料金*/
.pirceTable {
  width: 100%;
}
.pirceTable th,
.pirceTable td {
  border-bottom: #ccc solid 1px;
  padding: 3px 0;
}
.pirceTable .sum th,
.pirceTable .sum td {
  border-top: #ccc double 3px;
  border-bottom: none !important;
}
.pirceTable td {
  text-align: right;
}
.brNone {
  border-right: none !important;
}

.thanksTable {
  width: 100%;
}
.thanksTable th {
  vertical-align: top;
  font-weight: bold;
  text-align: right;
  padding: 20px 30px 20px 0;
  border-bottom: #ccc dotted 1px;
}
.thanksTable td {
  padding: 20px 0 20px 0;
  border-bottom: #ccc dotted 1px;
}
.thanksTable tr:last-child th ,
.thanksTable tr:last-child td {
  border-bottom: none;
}
/*******************************************
ユーザー登録
*******************************************/
#diverBox {
  background: url(/common/img/diver/bg_diver.png);
  background-size: cover;
  background-position: 50% 0;
  padding: 50px 0;
  min-height: 300px;
}
#aboutBox {
  background: url(/common/img/about/bg_about.jpg);
  background-size: cover;
  background-position: 50% 0;
  padding: 50px 0;
}
#reserveBox {
  background: url(/common/img/share/bg_reserve.jpg);
  background-size: cover;
  background-position: 50% 0;
  padding: 50px 0;
}
.accountBox {
  margin: 0 auto;
  width: 500px;
  background: url(/common/img/share/bg_white.png);
  padding:30px 30px 35px;
  color: #666;
  font-size: 14px;
  font-size: 1.4rem;
}
.accountBox .tit {
  text-align: center;
  font-size: 20px;
  font-size: 2.0rem;
}
.accountBox div {
  margin-top: 30px;
  position: relative;
}
.accountBox .username {
  position: relative;
}
.accountBox .username a {
  position: absolute;
  left: 430px;
  top: 10px;
  display: inline-block;
  padding: 3px 5px;
  color:#fff;
  background: #6badd0;
  font-size: 10px;
  font-size: 1.0rem;
}
.accountBox input {
}
.accountBox .agree {
  text-align: center;
  margin: 20px 0 0;
}
.accountBox .agree a {
  color:#6badd0;
  text-decoration: underline;
}
.accountBox .userBtn {
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: #999 solid 1px;
  color:#6badd0;
}
.accountBox .userBtn a {
  color:#6badd0;
  text-decoration: underline;
}
.accountBox .userBtn a:hover {
  color:#fff;
  text-decoration: none;
  background: #6badd0;
  padding: 0 10px;
  border-radius: 3px;
}
.accountBox .textInput {
  width: 460px;
  display: block;
  box-shadow: none;
  border: #ccc solid 1px;
  padding: 12px 10px;
  margin: 0 auto;
}

/******************************
海況
******************************/
/*過去検索*/
.searchBox {
  text-align: right;
  background: #fff;
  border: #ccc solid 1px;
  padding: 8px 15px;
  margin-bottom: 20px;
}
.searchBox p {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.searchBox form {
  display: inline-block;
}
.searchBox select {
  vertical-align: middle;
}
.searchBox input {
  display: inline-block;
  background-color: #42bfe8;
  box-shadow: 0 2px 0 0 #178db3;
  border: none;
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 2px;
  white-space: nowrap;
  letter-spacing: 1px;
  margin-bottom: 2px;
  cursor: pointer;
  margin-left: 5px;
}
.searchBox input:hover {
  text-decoration: none;
  background-color: #2ba5cd;
  transition: all .2s ease-in-out;
}
/*各センターの海況*/
.conditionBox {
  clear: both;
  width: 980px;
  overflow: hidden;
  padding:10px 0;
}
.conditionBox li {
  float: left;
  margin: 0 20px 20px 0;
  background: #fff;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.1); 
}
.conditionBox li a {
  display: block;
  padding: 20px;
  width: 440px;
  overflow: hidden;
}
.conditionBox li a:hover {
  opacity: 0.8;
  text-decoration: none;
  box-shadow: 0px 1px 8px rgba(0,0,0,0); 
}
.conditionBox li:nth-child(even) {
  margin: 0 0 20px 0;
}
.conditionBox .img {
  width: 150px;
  float: left;
}
.conditionBox .img img {
  width: 100%;
}
.conditionBox .txtBox {
  float: left;
  width: 270px;
}
.conditionBox .conditionTit {
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 6px;
}
.conditionBox .txt {
  margin-left: 20px;
  color: #666;
}
.conditionBox .data {
  display: block;
}
.conditionBox .txt img {
  width: 50px;
  display: block;
  float: left;
  margin-right: 10px;
}
.conditionBox .freeTxt {
  clear: both;
  color: #888;
  padding-top: 10px;
  font-size: 12px;
  font-size: 1.2rem;
}
/******************************
マイページ
******************************/
.mypageCont {
  width: 900px;
  margin: 0 auto 50px;
  background: url(/common/img/share/bg_white.png);
  padding:30px 30px 35px;
  color: #666;
  font-size: 14px;
  font-size: 1.4rem;
}
.mypageCont .tit {
  text-align: center;
  font-size: 20px;
  font-size: 2.0rem;
  margin-bottom: 20px;
}
.mypageCont .textInput {
  width: 90%;
  display: block;
  box-shadow: none;
  padding: 12px 10px;
  border-radius: 3px;
  border: #999 solid 1px;
}
.mypageCont.notice {
  background: rgba(255,225,225,0.8);
  padding:30px 30px 35px;
  color: #666;
  font-size: 14px;
  font-size: 1.4rem;
}
.mypageCont.notice li {
  position: relative;
  padding:25px 0 25px 70px;
  border-bottom: #999 dotted 1px;
}
.mypageCont.notice li:last-child {
  border-bottom: none;
}
.mypageCont.notice li .circleImg {
  position: absolute;
  left: 0;
  top:22px;
  width: 50px;
  height: 50px;
  background-size: cover !important;
  background-position: 50% !important;
  border-radius: 26px;
  border:#42bfe8 solid 2px;
  display: block;
}
.mypageCont a {
  color: #2ba5cd;
}
.formTable {
  width: 100%;
}
.formTable th {
  width: 25%;
  text-align: right;
  padding: 15px 10px;
}
.formTable td {
  padding: 15px 10px;
}
.formTable td.formTableBtn {
  width: 300px;
}
.reservationBox {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom:#999 solid 1px;
}
.reservationBox:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.mypageCont select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-indent: 10px;
  background:#fff url(../img/share/ico_down.png) no-repeat;
  background-size:10px 10px;
  background-position: 95% center;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  width: 90px;
  vertical-align: middle;
  margin-bottom:5px;
  border-radius: 3px;
  border: #999 solid 1px;
}
.error {
  color:#cb112b;
}
.errorForm {
  color:#cb112b;
  position: absolute;
  bottom: -22px;
  left:10px;
}
.diverImg {
  width: 180px;
  height: auto;
}
.myPoint {
  vertical-align: baseline;
  margin-top: 10px;
  width: 180px;
  padding: 3px 0;
  text-align: center;
  color: #f373a9;
  border: #f373a9 solid 1px;
}
.myPoint span.pointNumber {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 3px 0 10px;
}

/*個人情報&利用規約*/

.privacyBox {
  width: 940px;
  margin: 50px auto;
  background: #fefefe;
  padding:30px 30px 35px;
  color: #999;
}
.pTit {
  font-weight: bold;
  margin-top: 20px;
}
.pList {
  text-indent: -1em;
  padding-left: 1em;
}

/*スキルチェック&メディカルチェック*/
.checkTable {
  margin-top: 30px;
  width: 100%;
  border-top: #ccc solid 1px;
}
.checkTable th ,
.checkTable td {
  border-bottom: #ccc solid 1px;
}
.checkTable th {
  padding: 15px 10px;
}
.checkTable th.answer {
  width: 180px;
}
.checkTable label {
  margin: 0 5px;
  padding: 15px 10px;
}
.lastCheck label {
  width: 90%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  border-top: #ccc dotted 1px;
  padding-top: 15px;
}
.lastCheck label:first-child {
  border-top: none;
  margin-top: 0px;
}
.lastCheck input {
  display: inline-block;
  float: left;
  margin-top: 5px;
  width: 25px;
}
.lastCheck span {
  display: inline-block;
  float: left;
  width: 95%;
}
.required {
  background: #fbeaea;
}

/*テキストテーブル*/
.txtTable {
  width: 100%;
}
.txtTable th {
  padding: 5px 20px 5px 0 !important;
  text-align: right !important;
  vertical-align: top;
  font-weight: bold;
  width: 140px;
}
.txtTable td {
  padding: 5px 0 !important;
}

.txtTable02 {
  margin: auto;
}
.txtTable02 th {
  padding: 10px 20px 10px 30px;
  text-align: right;
  vertical-align: top;
  font-weight: bold;
}
.txtTable02 td {
  padding: 10px 0;
}

/*ログテーブル*/
.logTable {
  width: 100%;
  overflow: hidden;
}
.logTable th ,
.logTable td {
  border-bottom: #999 dotted 1px;
  padding: 10px 0;
}
.logTable .pointImg img {
  width: 120px;
}
.buddyUl {
  display: table;
}
.buddyUl li {
  display: table-cell;
  text-align: center;
  padding: 0 20px 0 0;
}
.buddyUl .circleImg {
  width: 50px;
  height: 50px;
  background-size: cover !important;
  background-position: 50% !important;
  border-radius: 25px;
  margin: auto;
}
.buddyUl span {
  display: block;
  line-height: 1.2;
}
.notes {
  font-size: 90%;
  margin-top: 1em;
  line-height: 1.5;
  display: inline-block;
}
.changCancelUl li {
  display: inline-block;
  margin: 0 5px;
}
/******************************
使い方
******************************/
.guideUl {
  width: 100%;
  overflow: hidden;
}
.guideUl li {
  width: 260px;
  float: left;
  margin: 0 20px 0;
  position: relative;
}
.guideUl .guideImg {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border-radius: 100px;
}
.guideUl .guideTxt .guideTit {
  margin-bottom: 10px;
  display: block;
  color: #42bfe8;
  font-size: 20px;
  text-align: center;
}
.guideUl .guideRegist img {
  position: absolute;
  left:-10px;
  width: 80px;
  height: auto;
}
.guideUl .guideInvite img {
  position: absolute;
  left:-10px;
  width: 80px;
  height: auto;
}
.guideUl .guideInvited img {
  position: absolute;
  right: -10px;
  width: 80px;
  height: auto;
}
.guideUl .guideInvitedRegist img {
  position: absolute;
  right: -10px;
  top:70px;
  width: 80px;
  height: auto;
}

.guideBox {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}
.guideTit {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.guideTit span {
  color: #fff;
  display: inline-block;
  background: #42c1eb;
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
}
.guideBox .img {
  float: left;
  border:#42c1eb solid 1px;
}
.guideBox .img img {
  width: 400px;
}
.guideBox .txt {
  float: left;
  width: 460px;
  margin-left: 30px;
}
.guideBox ul.txt li {
  text-indent: -1em;
  margin-left: 1em;
}
.guideBox .txt a {
  display: inline;
}
.iconTxt { 
  display: table;
}
.iconTxt span.iconTxtI { 
  color: #fff;
  display: block;
  background: #f373a9;
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}
.iconTxt span.iconTxtT { 
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
/******************************
よくある質問
******************************/
/*リスト*/
.faqList li ,
.faqList dt ,
.faqList dd {
  margin-bottom: 20px;
  display: table;
}
.faqList dt {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: #999 dotted 1px;
  display: table;
  width: 100%;
}
.faqList .qaIcon { 
  display: table-cell;
  width: 40px;
}
.qIcon { 
  color: #fff;
  display: block;
  background: #42c1eb;
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
  vertical-align: middle;
  text-align: center;
}
.aIcon { 
  color: #fff;
  display: block;
  background: #f373a9;
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
  vertical-align: middle;
  text-align: center;
}
.faqList .txt { 
  color: #666;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.faqList li a { 
  color: #2ba5cd;
}

.faqContact {
  border: #fff solid 1px;
  margin-top: 50px;
  padding: 20px;
  background: url(/common/img/share/bg_white.png);
}


/******************************
特集記事
******************************/
.featureTag {
  font-size: 12px;
  margin-top: 20px;
  color: #333;
  font-weight: bold;
}
.featureTit {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
  color: #333;
  margin: 5px 0 20px;
}
.featureSubTit {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  color: #333;
  margin:0 0 10px;
}
.featureMainBox {
  margin-bottom: 50px;
}
.featureBox {
  margin-bottom: 50px;
}
.featureSideTit {
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-bottom: #333 solid 1px;
  padding-bottom: 8px;
  margin-bottom: 20px;
}
.featureSideUl {
  margin-left: 30px;
}
.featureSideUl li {
  margin-bottom: 10px;
}
.featureSideUl li img {
  display: table-cell;
  float: left;
  margin-right: 10px;
}
.featureSideUl li span {
  display: table-cell;
}
.featureSideUl li a {
  color: #333;
}
.featureSideUl li a:hover {
  color: #42c1eb;
}