@charset "UTF-8";


/******************************
スマートフォンのCSS
******************************/
.sp {
  display: block;
}
.pc {
  display: none;
}
.telLink {
    color: #42bfe8;
}

/******************************
メニュー
******************************/
.sb-slidebar ul {
  border-top:#444 solid 1px;
  border-bottom:#444 solid 1px;
  font-size: 14px;
  font-size: 1.4rem;
}
.sb-slidebar ul a {
  color: #fff;
  display: block;
  padding: 10px;
  border-top:#444 solid 1px;
  border-bottom:#111 solid 1px;
}
.sb-slidebar .headerBtn {
  text-align: center;
}
.sb-slidebar .headerBtn a {
  display: inline-block;
  background-color: #F38B25;
  box-shadow: 0 2px 0 0 #c76c13;
  color: #fff !important;
  padding: 2px 20px;
  border-radius: 2px;
  white-space: nowrap;
  margin-top: 20px;
  font-size: 14px;
  font-size: 1.4rem;
}

/*セレクトボックス*/
.sb-slidebar .headerCustomSp {
  text-align: center;
}
.sb-slidebar .headerCustomSp p {
  overflow: hidden;
  display: inline-block;
  border-radius: 2px;
  background-color: #42bfe8;
  box-shadow: 0 2px 0 0 #178db3;
  color: #fff;
  border-radius: 2px;
  white-space: nowrap;
  margin-top: 20px;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 2px 10px 2px 40px;
  width: 100px;
}
.sb-slidebar .headerCustomSp p:hover {
  text-decoration: none;
  background-color: #2ba5cd;
  transition: all .2s ease-in-out;
}
.sb-slidebar .headerCustomSp select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
  cursor: pointer;
}
.sb-slidebar .headerCustomSp > select {
}

/******************************
ヘッダー
******************************/
#home header {
  background: none;
}
header {
  position: relative;
  height: 49px !important;
  background: #fff;
}
header .logoSp {
  text-align: center;
  padding-top: 13px;
}
header .menu {
  position: absolute;
  left: 10px;
  top: 8px;
}
header .menberImg {
  position: absolute;
  right: 10px;
  top: 7px;
}
header .menberImg span.img {
  width: 30px;
  height: 30px;
  background-size: cover !important;
  background-position: 50% !important;
  border-radius: 17px;
  border:#42bfe8 solid 2px;
  display: block;
}
header .menberImg span.noticeIcon {
  position: absolute;
  top:17px;
  right: -2px;
  width: 16px;
  line-height: 1;
  padding:4px 0 2px;
  display: block;
  text-align: center;
  background: #cb112b;
  color: #fff;
  font-size: 10px;
  font-size: 1.0rem;
  border-radius: 9px;
  border:#fff solid 1px;
}
/******************************
メイン
******************************/
#main {
  margin-top: 0;
  height: 386px;
}
#main .mainTit {
  text-align: center;
  padding-top: 120px;
}
#main .mainTit img {
  width: 168px;
  height: auto;
}
#main .mainTxt {
  font-size: 18px;
  font-size: 1.8rem;
}
#main .mainBtn {
  margin-top: 50px;
}
/******************************
アーティクル
******************************/
.contentsBox {
  padding:30px 0 50px;
}
.contentsBox.gray {
  background: #eee;
}
.inBox {
  width: 100%;
}
.titBox {
  margin-bottom: 20px;
}
.contentsBox .tit {
  font-size: 20px;
  font-size: 2.0rem;
}
.contentsBox .titLink {
  font-size: 12px;
  font-size: 1.2rem;
}

/******************************
リストタイプ
******************************/
/*2列リスト*/
.twoList {
  width: 100%;
  margin: 0 auto 0;
}
#wrapper {
    position: relative;
    width: 100%;
}
#wrapper:before {
    content:"";
    display: block;
    padding-top: 75%; /* 高さを幅の75%に固定 */
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.twoList li {
  float: none;
  margin: 0 0 1px 0;
  position: relative;
  width: 100%;
}
.twoList li:nth-child(even) {
  margin: 0 0 1px 0;
}
.twoList li a {
  background-size: cover;
  width: 100%;
  height: 100%;
  content:"";
  display: block;
  padding-top: 60%; /* 高さを幅の60%に固定 */
}
.twoList li a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.twoList li span {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-size: 2.0rem;
}
/*3列リスト*/
.threeList {
  width: 100%;
  margin: 0 auto ;
}
.threeList li {
  float: left;
  width: 50%;
  margin: 0;
}
.threeList li:nth-child(3) ,
.threeList li:nth-child(6) {
  margin: 0;
}
.threeList li a {
  background-size: cover;
  display: table;
  width: 100%;
}
.threeList li a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.threeList li span {
  display: table-cell;
  width: 100%;
  height: 160px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.5;
  text-shadow: 0 0 10px #000;  
}
/*3列サークルリスト*/
.threeCircleList {
  width: 96%;
  margin: 0 auto -30px;
}
.threeCircleList li {
  float: left;
  margin: 0 0 70px 0;
  width: 50%;
}
.threeCircleList li a {
  border-radius: 70px;
  height: 140px;
  width: 140px;
}
.threeCircleList li a span.txt {
  font-size: 14px;
  font-size: 1.4rem;
}
/*5列サークルリスト*/
.fiveCircleList {
}
.fiveCircleList li {
  float: none;
  width: 200px;
  margin: 0 auto 10px;
  overflow: hidden;
}
.fiveCircleList li img {
  float: left;
  width: 60px;
  height: auto;
  margin-right: 10px;
}
.fiveCircleList li a {
  text-align: left;
}
/*中面2列リスト*/
.twoTxtList {
  width: auto;
}
.twoTxtList li {
  float: none;
  margin: 0 0 30px 0;
  font-size: 16px;
  font-size: 1.6rem;
}
.twoTxtList li:nth-child(even) {
  margin: 0 0 30px 0;
}
.twoTxtList li img {
  display: inline;
  width: 100%;
  height: auto;
}
.twoTxtList li span {
}
.divingpointIcon {
  width: 100%;
  overflow: hidden;
  position: absolute;
  right: 10px;
  bottom:30px;
}
.divingpointIcon li:nth-child(even) {
  margin:0 0 0 10px;
}
.divingpointIcon li {
  float: right;
  margin:0 0 0 10px;
}
.divingpointIcon li img {
  width: 50px;
  height: auto;
  margin: 0;
}
/******************************
セクション
******************************/

/******************************
予約フォーム
******************************/
#reservationBox {
  width: 90%;
  margin: 0 auto;
  padding: 20px 10px 25px;
}
#reservationBox .buddySelectBox .buddyUser {
  width: 80%;
  float: none;
  margin-bottom: 40px;
}
#reservationBox .buddySelectBox .buddyNoUser {
  width: 80%;
  float: none;
  border: none;
}
#reservationBox dl dd {
  margin-bottom: 20px;
}
#reservationBox label {
  width: 90%;
}
#reservationBox .buddyname a {
  right:40px;
}
#reservationBox .buddySelectBox .buddyUser input ,
#reservationBox .buddySelectBox .buddyNoUser input {
  width: 100%;
}

.calenderTable td label {
  width: auto !important;
}
/******************************
フッター
******************************/
footer {
  background: #222;
  color: #fff;
}
footer a {
  color: #fff;
}
.footerIn {
  width:100%;
  margin: 0 auto;
  padding-top: 0px;
  overflow: hidden;
}
footer ul {
  display: none;
}
footer dl.footerSite {
  width:100%;
}
footer dl {
}
footer dt {
  text-align: center;
  padding: 10px 0;
  width:100%;
  border-bottom: #666 solid 1px;
  margin-bottom: 0;
}
footer dt a {
  background: none;
  padding: 0;
}
footer dl.footerSite dd ,
footer dd {
  float: left;
  width: 50%;
  border-bottom: #666 solid 1px;
}
footer dd:nth-child(even) {
  background: url(/common/img/share/bg_gray.png) right repeat-y;
  background-size: 1px;
}
footer dd a {
  display: block;
  padding: 8px 0 8px 10px;
  margin-right: 10px;
  background: url(/common/img/share/arrow_right.png) right no-repeat;
  background-size: 6px 10px;
}
.copy {
  clear: both;
  text-align: center;
  padding: 60px 0 10px;
}

/******************************
中面
******************************/
#inner article {
  width: 100%;
  margin: 0;
}
#pankuzuTop {
  display: none;
}
#pankuzu {
  width: 100%;
  margin: auto;
  padding: 10px 0 10px 10px; 
  overflow: hidden;
}
#pankuzu ul {
  width: 100%;
}
#pankuzu li {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.box960 {
  width: auto;
  margin: 0;
}
.box820 {
  width: auto;
  margin: 0 10px;
}

/******************************
ダイビングポイント
******************************/
#mainContents {
  float: none;
  width: 100%;
}
#sideContents {
  float: none;
  width: 100%;
}

/*メイン*/
.divingpointTit {
  margin-bottom: 0;
}
.divingpointTxt {
  margin: 0 10px 20px;
}
.iconTable td {
  text-align: center;
  padding-bottom: 5px;
}
.iconTable td img {
  width: 50px;
  height: auto;
}

/*bxslider*/
.bx-wrapper {
    margin: 0 auto 40px;
}
.bx-wrapper .bx-prev {
  background-position: 0px 0px;
  background-size: 43px 41px;
  opacity: 0.8;
}

.bx-wrapper .bx-next {
  background-position: -21px 0px;
  background-size: 43px 41px;
  opacity: 0.8;
}

.bx-wrapper .bx-prev:hover ,
.bx-wrapper .bx-next:hover {
  opacity: 0.8;
}

.bx-wrapper .bx-controls-direction a {
  width: 21px;
  height: 41px;
}
.bx-wrapper .bx-pager {
  width: 100%;
}
.iconUl li img {
  width: 60px;
  height: auto;
}

/*ダイビング料金*/
.feeAreaBox {
  width: auto;
  margin: 0 10px;
}
.divingPointTable {
  width: 100%;
}
.divingPointTable th ,
.divingPointTable td {
  border-bottom: #ccc dotted 1px;
  padding: 10px 0;
  display: block;
}
.divingPointTable tr:last-child th ,
.divingPointTable tr:last-child td {
  border-bottom: none;
}
.divingPointTable th {
  border-bottom: none;
  padding: 20px 0 0;
  width: auto;
}
.divingPointTable th span {
  display: inline;
}
.feeTable {
  margin-bottom: 20px;
}
.feeTable td {
  text-align: right;
}
.feeTable th ,
.feeTable td ,
.feeTable tr:last-child th ,
.feeTable tr:last-child td {
  border-bottom: #999 solid 1px;
  padding: 8px 10px;
  font-weight: normal;
  display: table-cell;
}
.feeTable tr:nth-child(odd) th ,
.feeTable tr:nth-child(odd) td {
  border-top: #999 solid 1px;
  border-bottom: #999 solid 1px;
  background: #fff;
}
.pointTxt {
  display: block;
  margin-left: 0;
}

/*ボタン*/
.reserveBtn {
  position: fixed;
  bottom:35px;
  left:5%;
  display: block;
  width: 90%;
  text-align: center;
  margin: auto;
  z-index: 999;
}
.reserveBtn a {
  margin: 0;
  opacity: 0.9;
}
/******************************
ダイビングポイントSNS
******************************/
#divingPointSNS {
  margin-bottom: 10px;
}
#divingPointSNS ul li.fsLine {
  display: inline-block;
}
#divingPointSNS ul li.fsLine a {
  display: block;
  background-color:#00c300;
  background-image:url(../img/share/fbtn_line.png);
  background-repeat:no-repeat;
  background-position:50% 30%;
  background-size:40px 40px;
  border:#00c300 solid 3px;
}
/*Google Map*/
.map {
  height:387px;
}
#mapCanvas {
  height:385px;
}
.map.big {
  height:387px;
}
.map.big #mapCanvas {
  height:385px;
}
/*******************************************
ユーザー登録
*******************************************/
#diverBox {
  padding: 30px 0;
  min-height: auto;
}
#reserveBox {
  padding: 30px 0;
}
.accountBox {
  margin: 0 10px;
  width: auto;
  padding:30px 10px 35px;
}
.accountBox .textInput {
  width: 90%;
}

/*スキルチェック&メディカルチェック*/
.checkTable {
  margin-top: 30px;
  width: 100%;
  border-top: #ccc solid 1px;
}
.checkTable th ,
.checkTable td {
  padding: 10px 10px;
  border-bottom: #ccc solid 1px;
}
.checkTable td {
  text-align: left !important;
}
.checkTable label {
  display: block;
}
.checkTable th.answer {
  width: 100px;
}
.lastCheck span {
  display: inline-block;
  float: left;
  width: 90%;
}
/******************************
マイページ
******************************/
.mypageCont {
  width: auto;
  margin: 0 10px 50px;
  padding:30px 10px 35px;
}
.mypageCont .tit {
}
.mypageCont .textInput {
  width: 90%;
}
.formTable {
  width: 100%;
}
.formTable th {
  width: auto;
  display: block;
  text-align: left;
  font-weight: bold;
  padding: 10px 10px 0;
}
.formTable td {
  padding: 0px 10px 10px;
  display: block;
}
.formTable td.formTableBtn {
  width: auto;
}
.mypageCont select {
  width: 80px;
}
.diverImg {
  width: 180px;
  height: auto;
  margin: auto;
}
.myPoint {
  margin: 10px auto;
  padding: 3px 0;
  text-align: center;
}
/*テキストテーブル*/
.txtTable {
  width: 100%;
}
.txtTable th {
  padding: 5px 0 0 !important;
  text-align: left !important;
  font-weight: bold;
  vertical-align: top;
  font-size: 11px;
  font-size: 1.1rem;
}
.txtTable td {
  padding: 0 0 5px !important;
  border-bottom: #999 dotted 1px;
}

.txtTable02 th {
  padding: 10px 0 0;
  text-align: left;
  display: block;
}
.txtTable02 td {
  padding: 0 0 10px;
  border-bottom: #999 dotted 1px;
  display: block;
}
.changCancelUl {
  text-align: center;
}
.changCancelUl li {
  margin: 0;
}

/*ログテーブル*/
.logTable {
  width: 100%;
}
.logTable tr {
  border-bottom: #999 dotted 1px;
}
.logTable th {
  vertical-align: top;
}
.logTable td {
  display: block;
  padding: 0;
  text-align: left;
  border-bottom: none;
}
.logTable td:last-child {
  padding-bottom: 10px;
}
.logTable .pointImg {
  padding-top: 10px;
}
/******************************
リスト
******************************/
.l200Dl {
}
.l200Dl dt {
  display: block;
  width: auto;
  margin-bottom: 20px;
}
.l200Dl dd {
  display: block;
}

/******************************
海況
******************************/
/*過去検索*/
.searchBox {
  background: #fff;
  border: #ccc solid 1px;
  margin-top: 0;
  text-align: center;
  padding: 3px 0 5px;
}
.searchBox select {
  margin: 0 5px;
}
.searchBox p {
  display: block;
}
/*各センターの海況*/
.conditionBox {
  width: auto;
  overflow: hidden;
}
.conditionBox li ,
.conditionBox li:nth-child(even) {
  float: none;
  margin: 0 0 10px 0;
}
.conditionBox li a {
  width: auto;
  padding: 10px 0 10px 10px;
}
.conditionBox .img {
  width: 90px;
  float: left;
}
.conditionBox .img img {
  width: 100%;
}
.conditionBox .txtBox {
  width: 210px;
}
.conditionBox .conditionTit {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom:0;
}
.conditionBox .txt {
  margin-left: 10px;
  line-height: 1.5;
  font-size: 13px;
}
.conditionBox .txt img {
  width: 30px;
  margin-right: 10px;
  margin-top: 3px;
}
.conditionBox .freeTxt {
  padding-top: 5px;
}
/******************************
使い方
******************************/
.guideUl li {
  width: auto;
  float: none;
  margin: 0 20px 50px;
  position: relative;
}
.guideUl .guideRegist img {
  left: 0;
}
.guideUl .guideInvite img {
  left: 0;
}
.guideUl .guideInvited img {
  right: 0;
}
.guideUl .guideInvitedRegist img {
  right: 0;
}
.guideBox {
  margin-bottom: 30px;
}
.guideTit {
  text-align: left;
}
.guideBox .img {
  float: none;
  margin-bottom: 10px;
}
.guideBox .img img {
  width: 100%;
}
.guideBox .txt {
  float: none;
  width: 100%;
  margin-left:0;
}
.guideBox ul.txt li {
  text-indent: -1em;
  margin-left: 1em;
}
.guideBox .txt a {
  display: inline;
}

/******************************
特集記事
******************************/
.featureTag {
  margin-left: 10px;
  margin-right: 10px;
}
.featureTit {
  margin-left: 10px;
  margin-right: 10px;
}
.featureBox {
  margin-left: 10px;
  margin-right: 10px;
}
.featureMainBox img ,
.featureBox img {
  width: 100%;
  height: auto;
}
.featureSideTit {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.featureSideUl {
  margin-left: 10px;
  margin-right: 10px;
}