@charset "UTF-8";
/* CSS Document */

/******************************
リセット
******************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
}

fieldset,img { 
	border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul,li {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

q:before,q:after {
	content:'';
}

abbr,acronym {
	border:0;
}

img,a{
	vertical-align:top;
}


/******************************
共通
******************************/
html {
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-text-size-adjust: none;
}

body {
	font-size:75%;
	line-height:1.75;
	color:#333333;
	font-family:"メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	overflow-x:hidden;
	background:#e5e9ec;
	min-width: 940px;
}

a , input {
	outline:none;
}

a,
a:link,
a:visited {
}

a:hover,
a:active  {
}

/******************************
共通
******************************/
header {
	background:#252d3a;
	height:52px;
	width:100%;
	position:fixed;
	z-index:100;
}
header p.centerName {
	color:#fff;
	text-align: center;
	padding-left: 200px;
	margin-top: 15px;
}
/*ナビゲーション*/
nav {
	position:fixed;
	top:0;
	left:0;
	background:#252d3a;
	height:100%;
	width:200px;
	color:#fff;
	line-height:1.4;
	z-index:200;
}
nav p {
	background:#182234;
	padding:10px 10px 0;
	height:42px;
	margin-bottom:10px;
}
nav li {
	border-top:#182234 solid 1px;
	border-bottom:#393d43 solid 1px;
}
nav li:first-child {
	border-top:none;
}
nav li li {
	border-bottom: none;
}
nav li li a {
	padding: 8px 0 8px 20px;
}
nav ul a {
	display:block;
	background:#252d3a;
	text-decoration:none;
	color:#fff;
	padding:15px 10px;
	vertical-align:middle;
	border-bottom:#242D3A
}
nav a:hover {
	background:#182234;
}
nav a.act {
	background:#182234;
}
article {
	margin-left:230px;
	margin-right:30px;
	padding-top:80px;
}
.sectionBox {
	margin-bottom:50px;
	background:#fff;
	border:#ccc solid 1px;
  border-radius: 5px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-webkitbox-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}
.sectionBoxTab {
	margin-bottom:50px;
	background:#fff;
	border:#ccc solid 1px;
  border-radius: 0 5px 5px 5px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-webkitbox-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	position: relative;
	margin-top: 38px;
}
.tab {
	position: absolute;
	top :-38px;
	left: -1px;
}
.tab ul {
	width: 100%;
	overflow: hidden;
}
.tab li {
	float: left;
	margin-right: 3px;
	margin-top: 3px;
}
.tab li a {
	text-decoration: none;
	border:#ccc solid 1px;
  border-radius: 5px 5px 0 0;
	border-bottom: none;
  display: block;
  width: 50px;
  text-align: center;
  background: #fff;
  padding: 8px 0 4px;
}
.tab li.act {
	margin-top: 0px;
}
.tab li.act a ,
.tab li a:hover {
	background:#dfdfdf;
  padding: 8px 0;
}
.box {
	width:100%;
	overflow: hidden;
}
.tit {
	font-size:14px;
	padding:5px 20px;
	background:#dfdfdf;
	color:#666;
	border-bottom:#ccc solid 1px;
	text-align: center;
}
.tit span {
	font-size:12px;
	color: #6badd0;
}
.tit span.prev {
	margin-right: 20px;
}
.tit span.next {
	margin-left: 20px;
}
/*テーブル*/
table.listTable {
	width:100%;
	color:#666;
}
table.bt {	
	border-top:#e1e1e1 solid 1px;
}
table.listTable th ,
table.listTable td {
	padding:5px 5px 5px 10px;
	border-bottom:#e1e1e1 solid 1px;
	border-right:#e1e1e1 solid 1px;
}
table.listTable th {
	background:#f1f1f1;
	border-right:#e1e1e1 solid 1px;
}
table.listTable td {
	background:#fafafa;
}
table.listTable .sum th ,
table.listTable .sum td {
	border-top:#ccc double 3px;
}
table.listTable td.error {
  background: #fbeaea;
}
table.listTable tr.holiday th {
	color:#e11313;
}
table.listTable th.cellLink ,
table.listTable td.cellLink {
	background: #6badd0;
}
table.listTable th.cellLink a ,
table.listTable td.cellLink a {
	color: #fff;
	display: block;
}
table.listTable input.price {
	width: 5em;
	text-align: right;
}
table.listTable textarea {
  width: 98%;
}
table.none th,
table.none td {
	border:none;
	background:#fff;
}
.checkTable th {
	width:auto;
}
input.check {
	width:auto;
}
.inputLong {
	width: 95%;
	padding: 5px;
}
.inputShort {
	width: 50px;
	padding: 5px;
}
.date {
	width:80px;
}
select.number {
	width:50px;
}
span.red {
	font-size:12px;
	color:#C00;
}
.headBtn {
	margin-bottom: 10px;
	text-align: right;
}
.headBtn a ,
.headBtn input {
	background: #6badd0;
	color: #fff;
	padding: 8px 15px 6px;
	text-decoration: none;
	border: 1px solid #BBB;
	display: inline-block;
}
.btnBox {
	position:relative;
	margin-bottom: 20px;
}
.btn a,
.btn input {
	background: #6badd0;
	color: #fff;
	border: 1px solid #BBB;
	width: 180px;
	margin:15px auto 15px;
	padding: 7px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	cursor: pointer;
}
.btn a:hover ,
.btn input:hover {
	background: #5391b2;
}
.txtLink {
	position:absolute;
	left:50%;
	top:8px;
	margin-left:110px;
	color:#6badd0;
}
/*editTable*/
table.editTable th,
table.editTable td {
	padding:5px 5px;
	border-bottom:#e1e1e1 solid 1px;
	border-right:#e1e1e1 solid 1px;
}
table.editTable th {
	background:#f1f1f1;
	border-right:#e1e1e1 solid 1px;
	width: 100px;
}
table.editTable td {
	background:#fafafa;
}
table.editTable td textarea {
	width: 95%;
	height: 5em;
}

.listSelect {
	padding: 10px;
	border:#ccc solid 1px;
	background: #dfdfdf;
	margin-bottom: 20px;
	text-align: right;
}
.listSelect select ,
.listSelect input {
	vertical-align: middle;
	font-size: 16px;
}
.paging {
	margin: 10px auto;
}
.paging li {
	display: inline-block;
	margin-right: 10px;
}

/*パンくず*/
.pankuzu {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.pankuzu li {
	float: left;
	margin-right: 10px;
}
.pankuzu li a {
	margin-left: 10px;
}
a {
	color:#6badd0;
}
a:hover {
	text-decoration:none;
}
.txt {
	margin:15px;
}
.tCenter {
	text-align:center;
}
.cRed {
	color: #e11313 !important;
}
.mt0 {margin-top:0px;}
.mt5 {margin-top:5px;}
.mt20 {margin-top:20px;}
.mb0 {margin-bottom:0px;}
.mb50 {margin-bottom:50px;}
.p5 {padding: 5px;}
.w100p { width: 100%;}
.w200 { width: 200px;}