@charset "UTF-8";

/******************************
フォーム
******************************/
form{
  margin-bottom: 40px;
}
.formtable{
  width: 100%;
  border-top: solid 1px #C7C7C7;
  border-left: solid 1px #C7C7C7;
  margin: 10px 0 40px;
}
.formtable th,
.formtable td{
  border-right: solid 1px #C7C7C7;
  border-bottom: solid 1px #C7C7C7;
  text-align: left;
  padding: 20px 10px;
}
.formtable th{
  width: 279px;
  background: #EEEEEE;
}
.formtable th span{
  display: inline-block;
  background: #c6000f;
  color: #fff;
  padding: 3px 10px 2px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  margin-left: 20px;
}
.formtable td{
  position: relative;
}
.formtable td input[type="text"],
.formtable td textarea{
  width: 616px !important;
  padding: 10px;
  border: solid 1px #e1e1e1;
  font-size: 14px;
  font-size: 1.4rem;
}
.formtable td input[type="radio"],
.formtable td input[type="checkbox"]{
  margin-right: 10px; 
}
.formtable td label{
  margin-right: 20px; 
}
.formtable td.error p{
  color: #c6000f;
  font-size: 10px;
  font-size: 1.0rem;
  position: absolute;
  top: 3px;
  margin-left: 1px;
}
.formtable td p.error{
  color: #c6000f;
  font-size: 10px;
  font-size: 1.0rem;
  position: absolute;
  top: 3px;
  margin-left: 1px;
}
.formtable td input.err,
.formtable td textarea.err{
  border-color: #c6000f;
}
.formtable td.error input[type="text"],
.formtable td.error textarea{
  border-color: #c6000f;
}
.formtable td input[type="text"].focus,
.formtable td textarea.focus{
  border-color: #13477b;
}
.submit{
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 10px 0;
  border: #C7C7C7 1px solid;
  background: #fff;
  font-size: 20px;
  font-size: 2.0rem;
  cursor: pointer;
}
.submit:hover{
  background: #C7C7C7;
  color: #fff;
}
.back {
  margin-top: 20px;
}
.back a{
  font-size: 20px;
  font-size: 2.0rem;
}