@charset "UTF-8";


/******************************
reset
******************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,input{ 
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
ol,ul{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}
img,a{
	vertical-align:top;
	display:inline-block;
}

/******************************
共通
******************************/
html {
	font-size: 62.5%;
}
body{
	font-size: 10px;
	font-size: 1.0rem;
	line-height:1.75;
	font-family: "メイリオ", Meiryo, "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	word-break: break-all;
}
a,input{
	outline:none;
}
a,
a:link,
a:visited {
	color:#13477b;
	text-decoration:none;
}
a:hover,
a:active  {
	text-decoration:underline;
}

/******************************
wrap
******************************/
.wrap{
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	font-size: 1.4rem;
}
h1{
	margin-bottom: 20px;
	font-size: 24px;
	font-size: 2.4rem;
}

/******************************
ヘッダー
******************************/
header{
}

/******************************
アーティクル
******************************/

/******************************
セクション
******************************/
section{
	margin: 40px 0 100px;
}

/******************************
フッター
******************************/
footer{
}